<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Доска сообщений</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/main.css">
    <script src="/assets/main.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Сообщения</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <?php foreach ($messages as $message): ?>
                        <span class="list-group-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="list-group-item-heading"><?=$message->getName() ?></h4>
                                    <p class="list-group-item-text"><?=$message->getText() ?></p>
                                </div>
                                <div class="col-md-2">
                                    <div class="text-right">
                                        <a href="<?=$router->pathFor('message-del', ['id' => $message->getId()])?>"
                                           class="message-delete glyphicon glyphicon-trash" aria-hidden="true"
                                           role="button" onclick="confirmDel(this);return false">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </span>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="<?=$router->pathFor('message-new')?>" method="post">
                            <div class="form-group">
                                Имя: <input class="form-control" type="text" name="name"><br>
                            </div>
                            <div class="form-group">
                                Сообщение: <textarea class="form-control" name="text" id="" cols="30" rows="10"></textarea><br>
                            </div>
                            <button type="submit" class="btn btn-success">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>